---
layout: default
---

{% include header.html %}

<div id="main"class="container">
  <div class="row">
    <div class="eightcol">
      <img src="img/team-hall.jpg">
      <h2 class="caption">Thanksgiving 2012 - Christmas Tree Farm - Ashe County, NC</h2>
    </div>
    <div class="fourcol last">
      <aside>
        <p>Hello friends and family!! We hope this past year has been filled with blessings & joy.</p><br>
        <p>Merry Christmas, <br>
          Seth, Elizabeth and Naomi Hall</p>
      </aside>
    </div>
  </div>
</div>
<div id="pictures"class="container">
  <div class="row">
    <div class="threecol">
      <img src="img/naomi1.jpg">
      <h3>Starry Eyes</h3>
    </div>
    <div class="threecol">
      <img src="img/naomi2.jpg">
      <h3>Hey Mama & Daddy</h3>
    </div>
    <div class="threecol">
      <img src="img/naomi3.jpg">
      <h3>Beautiful Smile</h3>
    </div>
    <div class="threecol last">
      <img src="img/naomi4.jpg">
      <h3>Peek-a-Boo</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="twelvecol last">
    </div>

    {% include footer.html %}

  </div>
</div>


